{% include 'header.html' %}

    <div class="container mt-5">
        <h2>Uploaded Files</h2>
        <ul class="list-group">
            {% for file in files %}
                <li class="list-group-item">
                    <strong>{{ file.filename }}</strong>
                    <a href="{{ url_for('view_data', file_id=file.id) }}" class="btn btn-sm btn-primary">View</a>
                    <a href="{{ url_for('analytics', file_id=file.id) }}" class="btn btn-sm btn-primary">Analytics</a>
                    <a href="{{ url_for('clean_data', file_id=file.id) }}" class="btn btn-sm btn-warning">Clean Data</a>


                    <form action="{{ url_for('delete_file', file_id=file.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>

{% include 'footer.html' %}