{% include 'header.html' %}

    <div class="container mt-5">
        <h2>Charts</h2>
        <ul class="list-group">
            {% for chart in charts %}
                <li class="list-group-item">
                    <strong>{{ chart.name }}</strong>
                    <a href="javascript:void(0)" content="{{chart.content}}" class="btn btn-sm btn-primary view-chart">View Chart</a>
                    <a href="javascript:void(0)" content="{{chart.content}}" class="btn btn-sm btn-primary export-chart">Download</a>
                    <a href="javascript:void(0)" name="{{chart.name}}" class="btn btn-sm btn-primary delete-chart">Delete</a>
                    
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <!-- 遮罩层 -->
    <div id="overlay"></div>

    <!-- 图片容器 -->
    <div id="image-container">
        <button id="close-btn">关闭</button>
        <img id="image" src="" alt="图片">
    </div>

{% include 'footer.html' %}